* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background: black
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* START SCREEN & END SCREEN */


.screen-container {
  width: 100%;
  height: 70%;
  min-height: 600px;
  /* 'display:' property lives in side start-screen-container or end-screen-container class to control visibility */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
}

.start-screen-container {
  /* change display: to 'flex' when you want start-screen-container to be visible */
  display: flex;
  background: lightskyblue;
  z-index: 1;
}

.end-screen-container {
  /* change display: to 'flex' when you want start-screen-container to be visible */
  display: none;
  background: pink;
  z-index: 2;
}


/* GAME */

.game-screen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: powderblue;
  width: 100%;
  height: 70%;
  min-height: 600px;
}

.score-and-lives-container {
  border: 1px solid green;
  background: palegreen;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60vh;
  min-width: 500px;
}

.start-button {
  cursor: pointer;
  height: 30px;
  width: 100px;
  background: yellow;
  border-radius: 30px;
}

/* Grid */

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* height: 100%; */
  height: 60vh;
  width: 60vh;
  min-height: 500px;
  min-width: 500px;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 9.0909%;
  width: 9.0909%;
  color: grey;
  background-color: wheat;
}

.gun {
  background-image: url("../assets/Gun-turret.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.dino {
  background-image: url("../assets/T-rex.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.missile {
  background-image: url("../assets/Missile.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.explosion {
  background-image: url("../assets/Explosion.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.rock {
  background-image: url("../assets/Rock3.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.fence {
  background-image: url("../assets/Fence.png");
  background-repeat: no-repeat;
  background-size: cover;
}