* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  height: 650px;
  width: 650px;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 9.0909%;
  width: 9.0909%;
  color: grey;
}

.gun {
  background-image: url("../assets/Gun-person.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.dino {
  background-image: url("../assets/T-rex.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.missile {
  background-image: url("../assets/Missile.png");
  background-repeat: no-repeat;
  background-size: contain;
}