* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background: black;
  /* This overflow:hidden property removes the visibility and funtionality of both vertical and horizontal scrollbars on the page: */
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


/** START SCREEN & END SCREEN **/

/** Start screen and End Screen visibility and core styling **/

.screen-container {
  width: 100%;
  height: 70%;
  min-height: 600px;
  min-width: 600px;
  /* NB: Additional 'display: none' property lives inside 'hidden' class for start-screen-container and end-screen-container class, to control visibility */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  color: white;
  background-image: url("../assets/Jungle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.1em;
}

.start-screen-container {
  display: flex;
  z-index: 1;
}

.end-screen-container {
  display: flex;
  z-index: 2;
}

/* The CSS selector below (i.e. .class1.class2 syntax) selects for if an element has BOTH class1 AND class2 at the same time: */
.start-screen-container.hidden, .end-screen-container.hidden, .game-screen-container.hidden { 
  display: none;
}


/** Start-screen detail **/

.start-screen-content-wrapper, .end-screen-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  height: 100%;
  min-height: 600px;
  min-width: 600px;
  margin: 0 230px;
}

.jurassic-escapers-logo-container {
  display: flex;
}

.instructions-container {
  display: flex;
  flex-direction: column;
  min-width: 600px;
  margin: 18px;
}

.instructions-container p {
  margin: 8px 0;
}

.tm-symbol {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.arrow-keys-symbols {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  color: #FFE045;
}

.space-bar-text {
  color: #FFE045;
}

.start-button-container {
  display: flex;
}

.start-button, .play-again-button {
  cursor: pointer;
  height: 40px;
  width: 20vw;
  background: #FFE045;
  border: 4px solid red;
  border-radius: 30px;
  font-family: 'VT323', monospace;
  font-size: 32px;
  color: black;
  line-height: 0;
}

.start-button {
  max-width: 200px;
  min-width: 100px;
}

.play-again-button {
  max-width: 200px;
  min-width: 200px;
}

/** End-screen detail **/


.game-result-container {
  display: flex;
}

.final-score-container {
  display: flex;
  font-size: 1.4em;
}

.game-comment-container {
  display: flex;
  margin: 0 0 20px 0;
}

.game-comment {
  margin: 0;
  font-size: 1.2em;
}

.play-again-button-container {
  display: flex;
  margin: 20px 0 0 0;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
  color: #FFE045;
  margin: 0 0 20px 0;
}

/** GAMEPLAY VIEW **/

.game-screen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/Jungle-leaves-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 70%;
  min-height: 600px;
  min-width: 600px;
}

.game-container {
  border: 7px solid #FFE045;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score-and-lives-container {
  background: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 6vh;
  min-height: 50px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.music-button {
  font-family: 'VT323', monospace;
  font-size: 1.4em;
  cursor: pointer;
  height: 28px;
  width: 150px;
  background: #FFE045;
  border: 2px solid red;
  border-radius: 30px;
}

.score-paragraph, .lives-paragraph {
  font-family: 'VT323', monospace;
  font-size: 1.5em;
}

.score-display, .lives-display {
  color: #FFE045;
}

/** Grid **/


.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/Sand-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  height: 55vh;
  width: 55vh;
  min-height: 450px;
  min-width: 450px;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.grid div {
  flex-grow: 1;
  height: 9.0909%;
  width: 9.0909%;
  color: grey;
}

/** Items on grid **/

.gun {
  background-image: url("../assets/Tank.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.dino {
  background-image: url("../assets/T-rex.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.missile {
  background-image: url("../assets/Missile.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.explosion {
  background-image: url("../assets/Explosion.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.rock {
  background-image: url("../assets/Rock3.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.fence {
  background-image: url("../assets/Fence.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.left-fence-corner {
  border-bottom-left-radius: 25px;
}

.right-fence-corner {
  border-bottom-right-radius: 25px;
}


/** ANIMATIONS **/

.jurassic-escapers-logo-container {
  animation-name: animate__bounce;
  animation-delay: 500ms;
  animation-duration: 1.5s;
}


/* h1 {
  animation-name: animate__bounce;
  animation-iteration-count: 5;
  animation-delay: 2s;
}
 */









/* .animate__animated.animate__fadeOutRight {
  animation-duration: 2s;
} */

/* .animate__animated.animate__fadeInLeft {
  animation-duration: 2s;
} */




/* 
.animate__animated.animate__bounce {
  --animate-duration: 500ms;
  --animate-delay: 2s;
  --animate-iteration-count: infinite;

}
 */
