* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background: black;
  /* This overflow:hidden property removes the visibility (and funtionality too I think) of scroll bars on the page: */
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* START SCREEN & END SCREEN VISIBILITY AND CORE STYLING */


.screen-container {
  width: 100%;
  height: 70%;
  min-height: 600px;
  /* 'display:' property lives in side start-screen-container or end-screen-container class to control visibility */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  color: white;
  background-image: url("../assets/Jungle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Share Tech Mono', monospace;
  font-size: 2vh;
}

.start-screen-container {
  /* change display: to 'flex' when you want start-screen-container to be visible */
  display: flex;
  z-index: 1;
}

.end-screen-container {
  /* change display: to 'flex' when you want start-screen-container to be visible */
  display: flex;
  z-index: 2;
}

/* The CSS selector below (i.e. .class1.class2 syntax) means if an element has both a class of class1 AND a class of class2 at the same time: */
.start-screen-container.hidden, .end-screen-container.hidden, .game-screen-container.hidden { 
  display: none;
}


/* Start-screen detail */

.tm-symbol {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.arrow-keys-symbols {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  color: yellow;
}

.space-bar-text {
  color: yellow;
}

.start-button {
  cursor: pointer;
  height: 30px;
  width: 100px;
  background: yellow;
  border-radius: 30px;
}

/* End-screen detail */





/* GAMEPLAY VIEW */

.game-screen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: powderblue; */
  background-image: url("../assets/Jungle-leaves-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 70%;
  min-height: 600px;
}

.game-container {
  /* border: 10px solid orange; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 60vh;
  min-height: 500px;
  min-width: 500px;
}

.score-and-lives-container {
  /* border: 1px solid green; */
  background: palegreen;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}



/* Grid */


.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/Sand-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  height: 100%;
  width: 100%;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  /* height: 60vh;
  width: 60vh;
  min-height: 500px;
  min-width: 500px; */
}

.grid div {
  /* border: 1px solid lightgrey; */
  flex-grow: 1;
  height: 9.0909%;
  width: 9.0909%;
  color: grey;
  /* background-color: wheat; */
}

.gun {
  background-image: url("../assets/Tank.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.dino {
  background-image: url("../assets/T-rex.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.missile {
  background-image: url("../assets/Missile.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.explosion {
  background-image: url("../assets/Explosion.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.rock {
  background-image: url("../assets/Rock3.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.road-barricade {
  background-image: url("../assets/Road-barricade.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 10px;
}

.fence {
  background-image: url("../assets/Fence.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.left-fence-corner {
  border-bottom-left-radius: 25px;
}

.right-fence-corner {
  border-bottom-right-radius: 25px;
}

/* ANIMATIONS */


h1 {
  /* animation: animate__bounce infinite */
  animation-name: animate__bounce;
  animation-iteration-count: 5;
  animation-delay: 2s;
}

.jurassic-escapers-logo-div {
  animation-name: animate__bounce;
  animation-delay: 500ms;
  animation-duration: 1.5s;
}

/* .animate__animated.animate__fadeOutRight {
  animation-duration: 2s;
} */

/* .animate__animated.animate__fadeInLeft {
  animation-duration: 2s;
} */




/* 
.animate__animated.animate__bounce {
  --animate-duration: 500ms;
  --animate-delay: 2s;
  --animate-iteration-count: infinite;

}
 */
