* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.start-score-lives-container {
  border: 1px solid green;
  background: palegreen;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 650px;
}

.start-button {
  cursor: pointer;
  height: 30px;
  width: 100px;
  background: yellow;
  border-radius: 30px;
}


.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  height: 650px;
  width: 650px;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 9.0909%;
  width: 9.0909%;
  color: grey;
}

.gun {
  background-image: url("../assets/Gun-person.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.dino {
  background-image: url("../assets/T-rex.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.missile {
  background-image: url("../assets/Missile.png");
  background-repeat: no-repeat;
  background-size: contain;
}


.explosion {
  background-image: url("../assets/Explosion.png");
  background-repeat: no-repeat;
  background-size: contain;
}